# Build output
dist/
update-json.js
update-json.bat
updates.json
start.bat

# Dependencies
node_modules/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
